.slant {
	background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
	opacity: 0;
}

#fh5co-work:before {
	background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
	opacity: 0;
}

.navbar-brand img {
	height:100px;
	padding:0px;
}

.navbar-fixed-top .navbar-brand img, .admin-header .navbar-brand img {
	height:50px;
}

.navbar-fixed-top .navbar-brand, .admin-header .navbar-brand {
	padding:5px;
}

#cmsform textarea {
	width:100%;
	height:400px;
}

#cms-content {
	padding-top:90px;
}

.warning-msg {
	color:red;
}


.admin-header {
	background-color:#42ebf4;
	margin-top:0 !important;
}

.admin-header span {
	color:#000;
}

#fh5co-home{
	background-image: url(images/full_image_2.jpg);
}
